<nav class="navigation-bar">
    <nav class="navigation-bar-content fixed-top">
        <div class="element">
            <a class="dropdown-toggle" href="#">ANALYSIS</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="./index.html">New</a></li>
                <li class="divider"></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>

        <span class="element-divider"></span>

        <div class="element input-element">
            <form name="termAnalyze" ng-submit="executeAnalyze(term)">
                <div class="input-control text size3">
                    <input type="text" required="" ng-model="term" />

                    <button class="btn-search" />
                </div>
            </form>

        </div>

    </nav>
</nav>

<div class="grid">
    <div class="row" ng-repeat="request in requests">
        <div class="offset4 span12">
              <div ng-include src="'term.html'"/>
        </div>
    </div>
</div>