<form name="termAnalyze" ng-submit="executeAnalyze(term)">
    <div class="input-control text">
        <input type="text" required="" ng-model="term" />
        <button class="btn-search" />
    </div>
</form>


<table>
    <tbody>
    <tr ng-repeat="term in terms">
        <td>
            <div ng-include src="'term.html'"/>
        </td>
    </tr>
    </tbody>
</table>

<div ng-controller="MainController" ng-init="showGraph()"  >
    <button ng-click="startLoading()">Start loading</button>
    <button ng-click="stopLoading()">Stop loading</button>
    <div id="chart" style="width: 768px; color: black;"></div>
</div>
