<nav class="navigation-bar">
    <nav class="navigation-bar-content fixed-top">
        <div class="element">
            <a class="dropdown-toggle" href="#">ANALYSIS</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="./index.html">New</a></li>
                <li class="divider"></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>

        <span class="element-divider"></span>

        <div class="element input-element">
            <form name="termAnalyze" ng-submit="executeAnalyze(term)">
                <div class="input-control text size3">
                    <input type="text" required="" ng-model="term" />

                    <button class="btn-search" />
                </div>
                <div class="input-control text select size2">
                    <select ng-model="selectedAnalyzisType" ng-options="type.text for type in analyzisTypes"></select>
                </div>

            </form>

        </div>

    </nav>
</nav>

<table>
    <tbody>
    <tr ng-repeat="term in terms">
        <td>
            <div ng-include src="'term.html'"/>
        </td>
    </tr>
    </tbody>
</table>

<div ng-controller="MainController" ng-init="showGraph()"  >
    <button ng-click="startLoading()">Start loading</button>
    <button ng-click="stopLoading()">Stop loading</button>
    <div id="chart" style="width: 768px; color: black;"></div>
</div>
